name: ci

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
jobs:
  build:
    name: Build & Unit-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: adopt
          cache: 'gradle'
      - name: Assemble & Test
        run: |
          ./gradlew build --stacktrace
          cp sdk/build/outputs/aar/sdk-release.aar sdk-main.aar
      - name: HTML ES5 test
        run: |
          npm install -g jshint
          java -cp sdk/build/intermediates/javac/release/classes com.hcaptcha.sdk.HCaptchaHtml > sdk/build/hcaptcha-form.html
          jshint --extract=always sdk/build/hcaptcha-form.html
      - name: JitPack Test
        run: ./gradlew publishReleasePublicationToMavenLocal
      - if: github.event_name == 'push'
        uses: actions/cache@v2
        with:
          path: sdk-main.aar
          key: diffuse-${{ github.sha }}
  ui-tests:
    name: Android UI Tests
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        api-level: [29] # , 23, 21]
        target: [default] #, google_apis]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: adopt
          cache: 'gradle'
      - uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          target: ${{ matrix.target }}
          arch: x86_64
          profile: Nexus 6
          script: |
            brew install parallel
            parallel --retries 3 ::: "./gradlew sdk:connectedCheck"
      - if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: androidTest-results
          path: sdk/build/outputs/androidTest-results
  benchmark-tests:
    name: Android Benchmark
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        api-level: [29] # , 23, 21]
        target: [default] #, google_apis]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: adopt
          cache: 'gradle'
      - uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          target: ${{ matrix.target }}
          arch: x86_64
          profile: Nexus 6
          script: |
            # https://developer.android.com/topic/performance/benchmarking/benchmarking-in-ci#clock-locking
            adb root
            ./gradlew lockClocks || true
            brew install parallel
            # NOTE bench:connectedCheck and bench:connectedAndroidTest leaves connected_android_test_additional_output empty
            parallel --retries 3 ::: "./gradlew bench:connectedReleaseAndroidTest --debug"
      - uses: actions/upload-artifact@v3
        with:
          name: benchmark-json-output
          path: benchmark/build/outputs/connected_android_test_additional_output
  size-report:
    name: Diffuse report
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: adopt
        cache: 'gradle'
    - name: Build sdk for PR and main branch
      run: |
        ./gradlew build --stacktrace
        cp sdk/build/outputs/aar/sdk-release.aar sdk-pr.aar
        git checkout origin/main
        ./gradlew build --stacktrace
        cp sdk/build/outputs/aar/sdk-release.aar sdk-main.aar
    - id: diffuse
      uses: usefulness/diffuse-action@v1
      with:
        old-file-path: sdk-main.aar
        new-file-path: sdk-pr.aar
    - uses: peter-evans/find-comment@v1
      id: find_comment
      with:
        issue-number: ${{ github.event.pull_request.number }}
        body-includes: Diffuse report
    - uses: peter-evans/create-or-update-comment@v1
      if: ${{ steps.diffuse.outputs.diff-raw != null || steps.find_comment.outputs.comment-id != null }}
      with:
        body: |
          Diffuse report:

          ${{ steps.diffuse.outputs.diff-gh-comment }}
        edit-mode: replace
        comment-id: ${{ steps.find_comment.outputs.comment-id }}
        issue-number: ${{ github.event.pull_request.number }}
        token: ${{ secrets.GITHUB_TOKEN }}
  sdk-compile-test:
    name: "Compile target:${{ matrix.target }} compile:${{ matrix.compile }} appcompat: ${{ matrix.appcompat }}"
    needs: [build]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - compile: 32
            target: 32
            appcompat: 1.4.2
          - compile: 32
            target: 30
            appcompat: 1.3.1
          - compile: 30
            target: 30
            appcompat: 1.3.1
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: adopt
          cache: 'gradle'
      - run: |
          ./gradlew build -PexampleCompileSdkVersion=${{ matrix.compile }} \
                          -PexampleTargetSdkVersion=${{ matrix.target }} \
                          -PexampleAppcompatVersion=${{ matrix.appcompat }}
