name: Android SDK CI
on: push
jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '1.8'
      - run: chmod +x ./gradlew
      - name: Assemble & Test
        run: ./gradlew build --stacktrace
      - name: JitPack Test
        run: ./gradlew publishReleasePublicationToMavenLocal
